* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

.nav {
  position: relative;
  height: 50px;
}

#logo {
  position: absolute;
  left: 0
}

#bars {
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 10px
}

#dropdown {
  position: absolute;
  right: -1px;
  top: 49px;
  z-index: 5;
  width: 100px;
}

.clicked-dropdown {
  height: 115px;
  width: 100px;
  background-color: white;
  animation-name: drop;
  animation-duration: 300ms;
}

.unclicked-dropdown {
  animation-name: undrop;
  animation-duration: 300ms;
  height: 0px;
  width: 100px;
  background-color: white
}

@keyframes drop {
  0% { height: 0px };
  100% { height: 115px }
}

@keyframes undrop {
  0% { height: 115px };
  100% { height: 0px }
}


.dropdown-item {
  text-decoration: none;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: right;
  position: relative;
  right: 10px;
  padding-top: 5px;
  opacity: 0;
  transition: opacity 200ms ease
}

.clicked-dropdown-item {
  opacity: 1
}
#contentA {
  background-color: #222222;
  height: 250px;
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#who {
  position: absolute;
  font-size: 20px;
  top: 8%;
  width: 100%;
  text-align: center;
  font-weight: bold
}

#mission {
  position: absolute;
  top: 28%;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 0px 10px 0px 10px
}

#lineA {
  position: absolute;
  top: 22%;
  width: 10%;
  left: 45%;
}

#about-link {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 70%;
  padding: 5px 25px 5px 25px;
  /* border: 1px solid white; */
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  margin: 0px 102px 0px 102px
}

#about-link:active {
  background-color: rgba(255, 255, 255, 0.5);
}

#latte_art {
  padding: 5px 0px 5px 0px
}

#contentB {
  color: black;
  height: 300px;
  font-family: 'Montserrat', sans-serif;
  position: relative
}

#coffee-header {
  position: absolute;
  font-size: 20px;
  top: 8%;
  width: 100%;
  text-align: center;
  font-weight: bold
}

#lineB {
  position: absolute;
  top: 22%;
  width: 10%;
  left: 45%;
  border: 1px solid black
}

#our-coffee {
  position: absolute;
  top: 28%;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 0px 10px 0px 10px
}

#about-coffee {
  text-decoration: none;
  position: absolute;
  color: black;
  bottom: 15px;
  padding: 5px 25px 5px 25px;
  /* border: 1px solid black; */
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  margin: 0px 102px 0px 102px;
}

#contentC {
  color: black;
  height: 380px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-color: #F0F0F0
}

h3 {
  position: relative;
  left: 10px;
  margin-bottom: 10px;
  top: 10px
}

#locA {
  list-style: none;
  position: relative;
  left: 10px
}

#locB {
  list-style: none;
  position: relative;
  left: 10px;
  top: 15px
}

#hours-header {
  position: relative;
  top: 10px
}

#hours-list {
  list-style: none;
  position: relative;
  left: 10px;
}

#logo-two {
  position: absolute;
  right: 10px;
  top: 10px
}

.social {
  font-size: 30px;
  position: relative;
  left: 255px;
  bottom: 170px;
  padding: 2px;
  width: 28px;
  text-align: center
}

#rights {
  position: absolute;
  bottom: 0%;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 10px;
  text-align: center;
  background-color: #222222;
  color: white;
  height: 20px;
  padding: 2px
}
