* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

.nav {
  position: relative;
  height: 50px;
}

#logo {
  position: absolute;
  left: 0
}

#bars {
  position: absolute;
  right: 10px;
  top: 15px
}



#contentA {
  background-color: #222222;
  height: 250px;
  position: relative;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#who {
  position: absolute;
  font-size: 20px;
  top: 8%;
  width: 100%;
  text-align: center;

}

#mission {
  position: absolute;
  top: 28%;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 0px 10px 0px 10px
}

#lineA {
  position: absolute;
  top: 22%;
  width: 10%;
  left: 45%;
}

#about-link {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 70%;
  padding: 5px 25px 5px 25px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  margin: 0px 102px 0px 102px
}

#about-link:active {
  background-color: rgba(255, 255, 255, 0.5);
}

#latte_art {
  padding: 5px 0px 5px 0px
}
